#nav-body {
    position: fixed;
    height: 12vh;
    background-color: #D93F518d;
}
#logo {
    margin-top: 1vh;
    height: 10vh;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    background-color: #5a3d7fd7;
    width: 100%;
}
.dropdown-item{
    color:white;
    text-align: center;
}